
<div class = "pragmatic_footer">
    <div class = "pragmatic_footer_button">
        <a href="{% url 'articleapp:companyinfo' %}" class="pragmatic_header_nav">회사소개</a>
        <a href="{% url 'articleapp:terms' %}" class="pragmatic_header_nav">서비스 이용약관</a>
        <a href="{% url 'articleapp:otherinfo' %}" class="pragmatic_header_nav">공지사항</a>
        <a href="{% url 'articleapp:teaminfo' %}" class="pragmatic_header_nav">팀소개</a>
    </div>
    <div class="my-3">
        <h6 class="pragmatic_logo">
            <a href="{% url 'articleapp:list' %}" class="pragmatic_header_nav">
                Lineless
            </a>
        </h6>
    </div>
</div>
