{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/static/Team/WonJun.jpg" alt="Card image cap" width="180px;" height= "auto;">
    <div class="card-body">
      <h5 class="card-title">장원준 (CEO)</h5>
      <hr>
      <img src="/static/Team/Berkeleylogo-removebg-preview.png" width="250px" height=" auto;">
      <p class="card-text" style="text-align:center">UC Berkeley 물리학 전공</p>
      <hr>
      <h5 style="text-align:center;">경력</h5>
      <ul> <li dir="ltr"> <p dir="ltr">Computer Vision 관련 프로젝트 경험&nbsp;</p> </li> <li dir="ltr"> <p dir="ltr">서울대학교 ibs 연구인턴</p> </li> </ul>
      <hr>
      <h5 style="text-align:center;">역할</h5>
      <ul> <li dir="ltr"> <p dir="ltr">인공지능 모델 구축 및 데이터 전처리&nbsp;</p> </li> <li dir="ltr"> <p dir="ltr">AI수요 예측 웹서비스 개발&nbsp;</p> </li> <li dir="ltr"> <p dir="ltr">네트워킹 능력을 이용한 팀빌딩 및 인재 채용</p> </li> <li dir="ltr"> <p dir="ltr">비즈니스 방향 제시&nbsp;</p> </li> </ul>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/Team/WonJun.jpg" alt="Card image cap" width="180px;" height= "auto;">
    <div class="card-body">
      <h5 class="card-title">오원재 (CFO)</h5>
      <hr>
      <img src="/static/Team/UNC-Logo-removebg-preview.png" width="250px" height=" auto;">
      <p class="card-text" style="text-align:center">UNC Chapel Hill 컴퓨터공학 & 경제학 전공</p>
      <hr>
      <h5 style="text-align:center;">경력</h5>
      <ul> <li dir="ltr"> <p dir="ltr">특허출원 경험 및 APP 개발 경험&nbsp;</p> </li> </ul>
      <hr>
      <h5 style="text-align:center;">역할</h5>
      <ul> <li dir="ltr"> <p dir="ltr">스마트 바구니 하드웨어 및 소프트웨어 개발&nbsp;</p> </li> <li dir="ltr"> <p dir="ltr">Lineless Application 개발&nbsp;</p> </li></ul>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/Team/WonJun.jpg" alt="Card image cap" width="180px;" height= "auto;">
    <div class="card-body">
      <h5 class="card-title">맹휘주 (COO)</h5>
      <hr>
      <img src="/static/Team/Inha.png" width="250px" height=" auto;">
      <p class="card-text" style="text-align:center">인하대학교 산업경영공학 전공</p>
      <hr>
      <h5 style="text-align:center;">경력</h5>
      <ul> <li dir="ltr"> <p dir="ltr">블록체인, 추천시스템 프로젝트, 및 물류시스템 관련 프로젝트 경험&nbsp;</p></li></ul>
      <hr>
      <h5 style="text-align:center;">역할</h5>
      <ul> <li dir="ltr"> <p dir="ltr">스마트 바구니 하드웨어 및 소프트웨어 개발&nbsp;</p> </li> <li dir="ltr"> <p dir="ltr">인증시스템 & 보안 관련 개발&nbsp;</p> </li> </ul>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/Team/WonJun.jpg" alt="Card image cap" width="180px;" height= "auto;">
    <div class="card-body">
      <h5 class="card-title">이재욱 (CDO)</h5>
      <hr>
      <p class="card-text" style="text-align:center">부천산업고등학교 졸업</p>
      <hr>
      <h5 style="text-align:center;">경력</h5>
      <ul> <li dir="ltr"> <p dir="ltr">크몽 디자인 관련 프리랜서로 2년 경험&nbsp;</p></ul>
      <hr>
      <h5 style="text-align:center;">역할</h5>
      <ul> <li dir="ltr"> <p dir="ltr">웹&앱 디자인 총괄&nbsp;</p> </li> <li dir="ltr"> <p dir="ltr">PPT제작 및 디자인&nbsp;</p> </li> <li dir="ltr"> <p dir="ltr">Logo 및 상품 디자인</p> </li> </ul>
    </div>
  </div>
</div>
{% endblock %}