{% extends 'base.html' %}

{% block content %}

<table ctyle="border-collapse: collapse; width: 500px; height: 198px; text-align: center;" border="1" class="table_price">
<tbody>
<tr>
    <td style="width: 500px; height: 18px; text-align: center;" colspan="2"><h5 style="text-align: center;"><strong>서비스 이용 수수료</strong></h5></td>
</tr>
<tr style="height: 18px;">
<td style="width: 300px; height: 18px; text-align: center;"><strong>상품 금액</strong></td>
<td style="width: 200px; height: 18px; text-align: center;"><strong>수수료</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 300px; height: 18px; text-align: center;"><strong>1,000원 미만</strong></td>
<td style="width: 200px; height: 18px; text-align: center;"><strong>4%</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 300px; height: 18px; text-align: center;"><strong>1,000원 이상 ~ 1,333원 미만</strong></td>
<td style="width: 200px; height: 18px; text-align: center;"><strong>40원</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 300px; height: 18px; text-align: center;"><strong>1,333원 이상 ~ 5,000원 미만</strong></td>
<td style="width: 200px; height: 18px; text-align: center;"><strong>3%</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 300px; height: 18px; text-align: center;"><strong>5,000원 이상 ~ 6,522원 미만</strong></td>
<td style="width: 200px; height: 18px; text-align: center;"><strong>150원</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 300px; height: 18px; text-align: center;"><strong>6,522원 이상 ~ 10,000원 미만</strong></td>
<td style="width: 200px; height: 18px; text-align: center;"><strong>2.3%</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 300px; height: 18px; text-align: center;"><strong>10,000원 이상 ~ 11,500원 미만</strong></td>
<td style="width: 200px; height: 18px; text-align: center;"><strong>230원</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 300px; height: 18px text-align: center;"><strong>11,500원 이상 ~ 20,000원 미만</strong></td>
<td style="width: 200px; height: 18px; text-align: center;"><strong>2%</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 300px; height: 18px; text-align: center;"><strong>20,000원 이상 ~ 26,666원 미만</strong></td>
<td style="width: 200px; height: 18px; text-align: center;"><strong>400원</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 300px; height: 18px; text-align: center;"><strong>26,666원 이상 ~ 50,000원 미만</strong></td>
<td style="width: 200px; height: 18px; text-align: center;"><strong>1.5%</strong></td>
</tr>
<tr style="height: 18px;">
<td style="width: 300px; height: 18px; text-align: center;"><strong>50,000원 이상</strong></td>
<td style="width: 200px height: 18px; text-align: center;"><strong>500원</strong></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 500px; text-align: center;" border="1" class="table_price">
<tbody>
<tr>
    <td style="width: 500px; height: 18px; text-align: center;" colspan="2"><h5 style="text-align: center;"><strong>스마트 바구니 구독료</strong></h5></td>
</tr>
<tr>
<td style="width: 300px; text-align: center;"><strong>바구니 수&nbsp;</strong></td>
<td style="width: 200px; text-align: center;"><strong>한달 가격</strong></td>
</tr>
<tr>
<td style="width: 300px; t200px-align: center;"><strong>10개</strong></td>
<td style="width: 200px; text-align: center;"><strong>120,000원</strong></td>
</tr>
<tr>
<td style="width: 300px; text-align: center;"><strong>15개</strong></td>
<td style="width: 200px; text-align: center;"><strong>165,000원</strong></td>
</tr>
<tr>
<td style="width: 300px; text-align: center;"><strong>20개</strong></td>
<td style="width: 200px; text-align: center;"><strong>200,000원</strong></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 500px;height: 72px;" border="1" class="table_price">
<tbody>
<tr>
    <td style="width: 500px; height:auto; text-align: center;" colspan="2"><h5 style="text-align: center;"><strong>AI 재고 관리 서비스</strong></h5></td>
</tr>
<tr>
<td style="width: 300px; height: 18px; text-align: center;"><strong>상품 종류&nbsp;</strong></td>
<td style="width: 200px; height: 18px; text-align: center;"><strong>한달 가격&nbsp;</strong></td>
</tr>
<tr>
<td style="width: 300px; height: 18px; text-align: center;"><strong>AI 수요 예측 서비스&nbsp;</strong></td>
<td style="width: 200px; height: 18px; text-align: center;"><strong>150,000원</strong></td>
</tr>
</tbody>
</table> 

{% endblock %}